modules = ["python-3.12", "web", "nodejs-20"]
run = "python src/main.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python src/main.py"]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 43569426
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python src/main.py"

[[ports]]
localPort = 5000
externalPort = 80
